/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
      border:2px white solid;
    background: linear-gradient(#506886,#3e5069);
    border-radius: 10px;
  }
/* Auto Complete  */
  /* input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 20px rgb(99, 169, 255) inset !important;
  } */

/* body */

body{
    /* dimensions */
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* display */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    /* font */
    color:whitesmoke;
    font-family: 'Titillium Web', sans-serif;
    font-size: 130%;
    /* decoration */
    background-image: linear-gradient(rgb(255, 255, 255),rgb(105, 105, 105));
}

#gif{
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../css/200.gif);
    background-size: 50%;
    opacity: 4%;
}



/* containers */

/* login container */
#loginContainer{
    /* Dimensions */
    width: 50vh;
    height: 50vh;
    /* Border */
    border-radius: 3%;
    outline: white 2px solid;
    /* Color */
    background-image: linear-gradient(#394b63,#2f3e53);
    /* Decoration */
    border: solid 1px white;
    box-shadow: 3px 3px 3px rgba(12, 24, 48, 0.363);
    opacity: 80%;
    /* Position */
    position: absolute;
    align-self: center;
    top:25vh;
    /* transition */
    transition: border 0.25s ease-in-out 0.1s,opacity 0.25s;
    /* display */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    z-index:2;
}
#loginContainer:hover{
    border: rgb(99, 169, 255) 7px solid;
    opacity: 100%;
}

/* nav bar container */
#navBar{
    /* display */
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    /* dimensions */
    width:12%;
    height:100%;
    min-width: 100px;
    min-height: 500px;
    position: absolute;
    /* decorations */
    background-image: linear-gradient(#394b63,#2f3e53);
    border-bottom-right-radius: 20px;
    left:-500px;
    transition: width 0.25s, border-right 0.25s;
}

#navBar:hover{
    width: 14%;
    border-right:7px solid rgb(99, 169, 255);
}

#logo{
    /* dimensions */
    width:100%;
    height:15%;
    min-height:70px;
    /* Decorations */
    text-align: center;
    font-size: 250%;
}

#navContent{
    /* dimensions */
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    margin-left: 5%;
    font-size: 70%;
    width:100%;
    min-height: 30px;
}

.content{
    width:100%;
    min-height: 30px;
    text-align: center;
    /* border-top:2px solid #243041; */
    background-color: #2e3d52;
    border-bottom: 2px solid #394b63;
    color:white;
    transition: background-color 0.25s, color 0.25s, width 0.25s, border 0.25s;
}

.content:hover{
    border-right: #394b63 12px solid;
    background-color: #4b5f7a;
    width:113%;
    cursor: pointer;
}

.content:active{
    border: white 2px solid;
}
/* Authentication */

#auth{
      /* Dimensions */
      width: 50vh;
      height:7vh;
      /* Border */
      border-radius: 30px;
      /* Color */
      /* Decoration */
      box-shadow: 3px 3px 3px rgba(12, 24, 48, 0.363);
      opacity: 80%;
      /* Position */
      position: absolute;
      align-self: center;
      top: 50vh;
      /* transition */
      transition: border 0.25s ease-in-out 0.1s,opacity 0.25s;
      /* display */
      display: none;
      text-align: center;
      line-height: 200%;
}

/* footer */

footer{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: space-between;
    height: 100%;
    color:black;
    opacity: 100%;
}

#logout{
    color:white;
    background-image: linear-gradient(#394b63,#2f3e53);
    opacity: 100%;
    text-align: center;
    border-bottom-left-radius: 20px;
    transition: border 0.25s, outline 0.25s;
    visibility: hidden;
}

#logout:hover{
    border-left:5px solid rgb(99, 169, 255);
    border-bottom:5px solid rgb(99, 169, 255);
    outline: 0px;
    cursor: pointer;
}

#logout:active{
    border-left:5px solid white;
    border-bottom:5px solid white;
    outline: rgb(99, 169, 255) 3px solid;
}
/* inputs */

input{
    /* dimensions */
    width:70%;
    height:7%;
    /* border */
    border:none;
    border-bottom: 2px white solid;
    background-color: rgba(167, 157, 157, 0);
    /* position */
    align-self: center;
    text-align: center;
    color:gray;
    font-size: 80%;
}

input.placeholder{
    text-align: center;
}

input:focus{
    /* decoration */
    outline: none;
    color:white;
}

button{
    /* dimensions */
    height:10%;
    width:70%;
    /* border */
    border-radius: 20px;
    border: white 0px solid;
    /* decorations */
    box-shadow: 3px 3px 3px rgba(12, 24, 48, 0.363);
    background-image: linear-gradient(#34abcf,#2b91b1);
    cursor: pointer;
    /* font */
    color:white;
    /* position */
    align-self: center;
    transition: border 0.25s;
}

button:active{
    border-radius: 20px;
    border: white 5px solid;
}

label{
    align-self: center;
}



/* ShowImage */

.showImage{
    color: gray;
    font-weight: bold;
    transition: color 0.5s;
}
.showImage:hover{
    cursor: pointer;
    color: #34abcf;
}

#hoverImage{
    position: absolute;
    height: 20%;
    width: 10%;
    border-radius: 20px;
    border: 4px #34abcf solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
    z-index: 3;
}

/* show */
#tableShow{
    /* Dimensions */
    width: 40vw;
    height: 50vh;
    min-width: 200px;
    min-height: 200px;
    /* Border */
    border-radius: 15px;
    outline:0px solid rgba(128, 128, 128, 0.103);
    /* Color */
    background-color: white;
    /* Decoration */
    box-shadow: 3px 3px 3px rgba(12, 24, 48, 0.363);
    /* Position */
    position: absolute;
    align-self: center;
    top:25vh;
    /* transition */
    transition: outline 0.5s, width 0.5s, height 0.5s;
    /* display */
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    z-index:2;
}

#tableShow:hover{
    width:42vw;
    height:52vh;
    outline: rgb(99, 169, 255) 7px solid;
}

/* Table Banner */
#tableBanner{
    width:100%;
    height:15%;
    background-image: linear-gradient(#425670,#495e7c);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    line-height: 250%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Table content */
#tableContent{
    width:100%;
    height:85%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom: 10px solid #425670;
    overflow-y: hidden;
    transition: overflow-y 0.25s;
}

#tableContent:hover{
    overflow-y:scroll;
}


/* Table */
#table{
    width:100%;
}

/* Head Content Row */
#headContent{
    display: flex;
    flex-direction: row;
}

.itemBorder{
    border-bottom: 2px rgb(238, 238, 238) solid;
}

.subCat{
    width:100%;
    background-color: rgb(238, 238, 238);
    border-radius: 0px;
}

.innerInput{
    display: block;
    width:50px;
    color:black;
    border-bottom: 2px solid rgb(238, 238, 238);
}

.innerInput.placeholder{
    color: black;
}

.innerInput:focus{
    /* decoration */
    outline: none;
    color: black;
}

/* transaction button */

#trans{
     /* Dimensions */
     width: 35vw;
     height: 6vh;
     min-width: 170px;
     min-height: 20px;
     /* Border */
     border-radius: 15px;
     outline:0px solid rgba(128, 128, 128, 0.103);
     /* Color */
     background-color: rgb(255, 255, 255);
     /* Decoration */
     box-shadow: 3px 3px 3px rgba(12, 24, 48, 0.363);
     /* Position */
     position: absolute;
     align-self: center;
     margin-bottom: 7%;
     /* transition */
     transition: outline 0.5s, width 0.5s, height 0.5s;
     /* display */
     display: none;
     flex-direction: row;
     justify-content: flex-start;
     align-content: center;
     z-index:2;
     
}

#input2{
    color:black;
    height:90%;
    width:40%;
    margin-left: 5%;
}

.input3{
    margin-top: 7%;
    margin-left: 1%;
    color:black;
    height:90%;
    width:98%;
    border-bottom:rgb(105, 105, 105) 2px solid;
    align-self: center;
    justify-self: center;
}

.input3.placeholder{
    color: black;
}

.input3:focus{
    /* decoration */
    outline: none;
    color: black;
}

.input4{
    margin-top: 2%;
    margin-left: 1%;
    color:black;
    height:90%;
    width:98%;
    border-bottom:rgb(105, 105, 105) 2px solid;
    align-self: center;
    justify-self: center;
}

.input4.placeholder{
    color: black;
}

.input4:focus{
    /* decoration */
    outline: none;
    color: black;
}

#camera{
    margin-top: 6%;
    width:27%;
    margin-left: 36%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
    align-self: center;
}

.admin{
    visibility: hidden;
}

#input2.placeholder{
    color: black;
}

#input2:focus{
    /* decoration */
    outline: none;
    color: black;
}

.transButt{
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;
    height:80%;
    background-image: linear-gradient(#425670,#495e7c);
}

#input3Butt{
    width: 90%;
    background-image: linear-gradient(#425670,#495e7c);
    margin-top: 10%;
    margin-left: 4%;
}

#input4Butt{
    width: 90%;
    background-image: linear-gradient(#425670,#495e7c);
    margin-top: 3%;
    margin-left: 4%;
}

/* table data*/
tr{
    width:100%;
    height:15%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    /* text-align: center; */
}
td{
    text-align: center;
    color:black;
}
th{
    text-align: center;
    font-weight: normal;
}
table {
    border-collapse: collapse;
  }


  